<a href="https://colab.research.google.com/github/BOT-Hunter/EDA-Notebooks/blob/main/Cancer_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
from google.colab import files
files.upload()

In [3]:
data = pd.read_csv("Breast_cancer_data.csv")

In [4]:
data.shape

(569, 6)

In [5]:
data.head(10)

   mean_radius  mean_texture  ...  mean_smoothness  diagnosis
0        17.99         10.38  ...          0.11840          0
1        20.57         17.77  ...          0.08474          0
2        19.69         21.25  ...          0.10960          0
3        11.42         20.38  ...          0.14250          0
4        20.29         14.34  ...          0.10030          0
5        12.45         15.70  ...          0.12780          0
6        18.25         19.98  ...          0.09463          0
7        13.71         20.83  ...          0.11890          0
8        13.00         21.82  ...          0.12730          0
9        12.46         24.04  ...          0.11860          0

[10 rows x 6 columns]

In [9]:
data.nunique()

mean_radius        456
mean_texture       479
mean_perimeter     522
mean_area          539
mean_smoothness    474
diagnosis            2
dtype: int64

In [10]:
data.describe()

       mean_radius  mean_texture  ...  mean_smoothness   diagnosis
count   569.000000    569.000000  ...       569.000000  569.000000
mean     14.127292     19.289649  ...         0.096360    0.627417
std       3.524049      4.301036  ...         0.014064    0.483918
min       6.981000      9.710000  ...         0.052630    0.000000
25%      11.700000     16.170000  ...         0.086370    0.000000
50%      13.370000     18.840000  ...         0.095870    1.000000
75%      15.780000     21.800000  ...         0.105300    1.000000
max      28.110000     39.280000  ...         0.163400    1.000000

[8 rows x 6 columns]

In [11]:
data.columns

Index(['mean_radius', 'mean_texture', 'mean_perimeter', 'mean_area',
       'mean_smoothness', 'diagnosis'],
      dtype='object')

In [15]:
datawd = data.drop("diagnosis", axis=1)

In [16]:
datawd.head()

   mean_radius  mean_texture  mean_perimeter  mean_area  mean_smoothness
0        17.99         10.38          122.80     1001.0          0.11840
1        20.57         17.77          132.90     1326.0          0.08474
2        19.69         21.25          130.00     1203.0          0.10960
3        11.42         20.38           77.58      386.1          0.14250
4        20.29         14.34          135.10     1297.0          0.10030