<a href="https://colab.research.google.com/github/BOT-Hunter/EDA-Notebooks/blob/main/GlobalTerror.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
from google.colab import files
files.upload()

In [3]:
df = pd.read_csv("global_terror.csv")

In [4]:
df.head()

   iyear  imonth  iday  country  ... weaptype1_txt  nkill propextent propextent_txt
0   1970       7     2       58  ...       Unknown    1.0        NaN            NaN
1   1970       0     0      130  ...       Unknown    0.0        NaN            NaN
2   1970       1     0      160  ...       Unknown    1.0        NaN            NaN
3   1970       1     0       78  ...    Explosives    NaN        NaN            NaN
4   1970       1     0      101  ...    Incendiary    NaN        NaN            NaN

[5 rows x 23 columns]

In [11]:
df.tail()

        iyear  imonth  iday  ...  nkill propextent               propextent_txt
191459   2018      12    31  ...    8.0        3.0  Minor (likely < $1 million)
191460   2018      12    31  ...    NaN        3.0  Minor (likely < $1 million)
191461   2018      12    31  ...    1.0        NaN                          NaN
191462   2018      12    31  ...    1.0        NaN                          NaN
191463   2018      12    31  ...    0.0        3.0  Minor (likely < $1 million)

[5 rows x 23 columns]

In [5]:
df.shape

(191464, 23)

In [6]:
df.nunique()

iyear                 48
imonth                13
iday                  32
country              205
country_txt          205
region                12
region_txt            12
provstate           2579
city               39488
latitude           54220
longitude          54080
attacktype1            9
attacktype1_txt        9
targtype1             22
targtype1_txt         22
natlty1              215
natlty1_txt          215
natlty2              158
weaptype1             12
weaptype1_txt         12
nkill                207
propextent             4
propextent_txt         4
dtype: int64

In [7]:
df.isnull().sum()

iyear                   0
imonth                  0
iday                    0
country                 0
country_txt             0
region                  0
region_txt              0
provstate               2
city                  426
latitude             4580
longitude            4581
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
natlty1              1722
natlty1_txt          1722
natlty2            179585
weaptype1               0
weaptype1_txt           0
nkill               11029
propextent         124178
propextent_txt     124178
dtype: int64

In [12]:
df.drop(['natlty2', 'propextent', 'propextent_txt'], axis=1, inplace=True)

**Drop all null values**

In [22]:
df.dropna(axis=0, how='any', inplace=True)

In [24]:
df.shape

(174331, 20)

In [25]:
df.head()

   iyear  imonth  iday  ...  weaptype1 weaptype1_txt  nkill
0   1970       7     2  ...         13       Unknown    1.0
1   1970       0     0  ...         13       Unknown    0.0
2   1970       1     0  ...         13       Unknown    1.0
5   1970       1     1  ...          5      Firearms    0.0
6   1970       1     2  ...          5      Firearms    0.0

[5 rows x 20 columns]

In [28]:
df.nunique()

iyear                 48
imonth                13
iday                  32
country              202
country_txt          202
region                12
region_txt            12
provstate           2525
city               36265
latitude           51414
longitude          51278
attacktype1            9
attacktype1_txt        9
targtype1             22
targtype1_txt         22
natlty1              212
natlty1_txt          212
weaptype1             12
weaptype1_txt         12
nkill                203
dtype: int64

In [30]:
#Visualtization still learning. Could not apply in this big dataset with only categorical data.